<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Stat Hub - The smart Hub to hold server Stat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" type="text/css" rel="stylesheet">
    <style type="text/css">.progress {margin-bottom: 0;}</style>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <h3 class="pull-left"><a href="/">Stat Hub</a></h3>
    </div>
    <div>
        {{template "main_body" .}}
    </div>
    <div class="footer text-center">
        &copy; 2015 <a href="http://www.likexian.com/">Kexian Li</a>, Apache License, Version 2.0.
    </div>
</body>
</html>