#!/bin/bash

VERSION="0.11.2"
STATHUB_URL="https://github.com/likexian/stathub-go/releases/download/v${VERSION}/client_$(uname -m).tar.gz"

[ $(id -u) -ne 0 ] && sudo="sudo" || sudo=""
$sudo mkdir -p /var/stathub
$sudo chown -R $(id -u -n):$(id -g -n) /var/stathub
if [ ! -d /var/stathub ]; then
    echo "Unable to create dir /var/stathub and chown to current user, Please manual do it"
    exit 1
fi
cd /var/stathub

command_exists() {
    type "$1" &> /dev/null
}

if command_exists wget; then
    wget --no-check-certificate $STATHUB_URL
elif command_exists curl; then
    curl --insecure -O $STATHUB_URL
else
    echo "Unable to find curl or wget, Please install and try again."
    exit 1
fi

if [ ! -f client_$(uname -m).tar.gz ]; then
    echo "Unable to get client file, Please manual download it"
    exit 1
fi
tar zxf client_$(uname -m).tar.gz
rm -rf client_$(uname -m).tar.gz

if command_exists crontab; then
    if [ -z "$(crontab -l | grep stathub)" ]; then
        (crontab -l; echo "* * * * * cd /var/stathub; ./client >>/var/stathub/client.log 2>&1") | crontab -
    fi
else
    echo "Unable to find crontab, Please install and try again."
    exit 1
fi

if [ ! -f client.json ]; then
cat <<EOF > client.json
{
    "id": "{{.id}}",
    "name": "",
    "server": "https://{{.server}}",
    "key": "{{.key}}"
}
EOF
fi

echo "----------------------------------------------------"
echo "| Client install sucessful                         |"
echo "| It will shown on your server minutes later       |"
echo "| Please Refer to https://your-server-ip:15944     |"
echo "|                                                  |"
echo "| Feedback: https://github.com/likexian/stathub-go |"
echo "| Thank you for your using, By Li Kexian           |"
echo "| StatHub, Apache License, Version 2.0             |"
echo "----------------------------------------------------"

./client
sleep 1
./client
