{{define "main_body"}}
<script type="text/javascript">document.getElementById('auth-span').style.display='block';</script>
<div id="update" class="bg-warning">
    New version available, Please download from <a target="_blank" href="https://github.com/likexian/stathub-go">https://github.com/likexian/stathub-go</a>.
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>IP</th>
            <th>Name</th>
            <th>Uptime</th>
            <th>Load</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Swap</th>
            <th>Disk</th>
            <th>Net I/O</th>
            <th>Disk R/W</th>
            <th>Traffic</th>
            <th>System</th>
            <th>Updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{if not .data}}
            <tr>
                <td colspan="12" align="center">No data yet, please add nodes following the <a href="/help">guide</a>.</td>
            </tr>
        {{end}}
        {{range .data}}
            <tr id="id_{{.Id}}">
                <td><div class="img-circle bg-{{.Status}}"></div></td>
                <td>{{.IP}}</td>
                <td>{{.Name}}</td>
                <td>{{.Uptime}}</td>
                <td>{{.Load}}</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .CPURate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.CPURate}}%;">
                        {{.CPURate}}%
                      </div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .MemRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.MemRate}}%;">
                        {{.MemRate}}%
                      </div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .SwapRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.SwapRate}}%;">
                        {{.SwapRate}}%
                      </div>
                    </div>
                </td>
                <td>
                    {{if ne .DiskWarn ""}}
                    {{.DiskWarn}}
                    {{else}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .DiskRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.DiskRate}}%;">
                        {{.DiskRate}}%
                      </div>
                    </div>
                    {{end}}
                </td>
                <td align="center">
                    {{.NetRead}}/{{.NetWrite}}
                </td>
                <td align="center">
                    {{.DiskRead}}/{{.DiskWrite}}
                </td>
                <td>{{.NetTotal}}</td>
                <td>{{.OSRelease}}</td>
                <td>{{.LastUpdate}}</td>
                <td><a class="delete-node">&#10006;</a></td>
            </tr>
        {{end}}
    </tbody>
</table>
<div id="auto_reload">
    <div class="pull-left">
        <div class="pull-left"><div class="pull-left img-circle bg-success"></div>seems ok</div>
        <div class="pull-left"><div class="pull-left img-circle bg-warning"></div>went wrong</div>
        <div class="pull-left"><div class="pull-left img-circle bg-danger"></div>lost touch</div>
        <div class="clear"></div>
    </div>
    <div class="pull-right">
        Stat will refresh after <span id="after_seconds">00</span> seconds,
        <a style="cursor:pointer" id="after_action">stop</a>.
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript">
function do_start() {
    return setInterval(function() {
        var s = new Date().getSeconds();
        var d = s < 4 ? 3 - s  : 63 - s;
        $('#after_seconds').text(d > 9 ? d : '0' + d);
        if (s == 3) location.href = location.href;
    }, 1000);
}
function setCookie(name, value, day) {
    if (day) {
        var now = new Date();
        now.setTime(now.getTime() + (day * 86400000));
        var expire = "; expires=" + now.toGMTString();
    } else {
        var expire = "";
    }
    document.cookie = name + "=" + value + expire + "; path=/";
}
function getCookie(name) {
    var find = RegExp(name + "=.[^;]*");
    match = document.cookie.match(find);
    return match ? match[0].split('=')[1] : false;
}
function version_result(is_update) {
    // check update every day
    setCookie('is_update', is_update, 1);
    if (!is_update) $('#update').show();
}
var v = getCookie('is_update');
if (v === false) {
    var u = document.createElement('script');
    u.src = '//www.likexian.com/dream/stathub/v{{.version}}.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(u, s);
} else {
    version_result(v - 0);
}
var c = 0;
c = do_start();
$('#after_action').click(function() {
    if (c) {
        c = clearInterval(c);
        $('#after_seconds').text('--');
        $('#after_action').text('start');
    } else {
        c = do_start();
        $('#after_action').text('stop');
    }
});
$('.delete-node').click(function(e){
    var tr = $(e.target).parents('tr');
    var id = tr.attr('id');
    var tds = $('td', tr);
    if (confirm('Are you sure to delete ' +
        tds.eq(2).text() + '(' + tds.eq(1).text() +
        ')?\nThis is unrecoverable!')) {
            $.ajax({
                type: 'POST',
                url: '/api/node',
                data: JSON.stringify({"id": id, "action": "delete"}),
                contentType: 'application/json',
                success: function(data) {
                    if (data.status.code == 1) {
                        alert('node deleted');
                        tr.remove();
                    } else {
                        alert(data.status.message);
                    }
                }
            });
    }
});
</script>
{{end}}
